@model VetApp.Models.ConsumosVet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConsumosVet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdConsumoVet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdConsumoVet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantVacunas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantVacunas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodMascotaNavigation.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodMascotaNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodVacunaNavigation.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodVacunaNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdServicioNavigation.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdServicioNavigation.Nombre)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-codMascota="@Model.CodMascota" asp-route-idServicio="@Model.IdServicio" asp-route-idConsumoVet="@Model.IdConsumoVet" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
