@model VetApp.Models.Medicamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Laboratorio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Laboratorio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Presentacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Presentacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PesoNeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PesoNeto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodMedicamento }, new { @class = "btn btn-primary custom-edit-btn" }) |
    <a asp-action="Index" class="btn btn-secondary custom-back-btn">Back to List</a>
</div>

<style>
    .custom-edit-btn {
        background-color: #007bff; /* Azul */
        border-color: #007bff;
        color: white;
        margin-right: 5px;
    }

    .custom-back-btn {
        background-color: #6c757d; /* Gris */
        border-color: #6c757d;
        color: white;
    }

    .btn {
        border-radius: 5px;
        padding: 10px 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .control-label {
        font-weight: bold;
    }

    .text-danger {
        font-size: 0.875em;
    }

    .table {
        margin-top: 20px;
    }
</style>
